.navbar {
  display: flex;
  position: fixed;
  width: 100%; 
  top: 0;
  left: 0;
  color: #FFFFFF;
  align-items: center;
  padding: 5px 5%; 
  justify-content: space-between;
  z-index: 10;
}


.logo{
  width: 190px;
  margin-top: 5px;
}

.navbar ul li{
  display: inline-block;
  list-style: none;

}
.navbar .home-page-list, .other-page-list{
  margin: 5px 20px;
  font-size: 17.5px;
} 


.my-list-btn.home-page-list{
  background-color: #FFFFFF;
  color: #000F38;
}


.other-page-list button{
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  font-size: 17.5px;
  cursor: pointer;
}

.dark-nav{
  background-color: #212EA0;
  transition: 1s;
}

.other-pages-logo{
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.fav-link {
  display: flex;
  align-items: center;
  gap: 8px; 
}

.fav-count {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.heart-icon {
  font-size: 25px;
  color: #000F38;
}

.count {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  color: white;
}
