.majors-container {
  padding: 10px 20px 20px 20px;
}

.majors-container > h3 {
  font-size: 32px;
  color: #000F38;
  margin-bottom: 20px;
  text-align: center;
}

.university-majors-text {
  margin: 10px 0 25px 0; 
  font-size: 16px; 
  line-height: 1.8; 
  text-align: justify; 
  color: #444; 
}

.college-category {
  padding-bottom: 20px;
}

.college-category h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graduates-header{
  font-size: 22px;
  color: gray;
  margin-left: 10px;
}

.division-category {
  margin-bottom: 15px;
}

.division-name {
  font-size: 20px;
  color: #555;
  font-weight: bold;
  margin-bottom: 10px;
}



.major-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.major-name {
  font-size: 17px;
}

.credit-hours-count {
  font-size: 17px;
  font-weight: bold;
}
