.location-section {
  text-align: center;
  padding: 20px;
}

.location-section > h3{
  font-size: 32px;
  color: #000F38;
  margin-bottom: 20px;
  text-align: center;
}

.location-description {
  text-align: left;
  margin-bottom: 20px;
}

.location-description p {
  margin: 10px 0;
  font-size: 17px;
  line-height: 1.5;
  color: #444; 
}

.location-description p strong {
  font-size: 19px;
  color: #333;
}

.map-container iframe{
  border: none;
  width: 600px;
  height: 400px;
  border-radius: 10px;
}


