.location-section {
  text-align: center;
  padding: 20px;
}

.location-section > h3{
  font-size: 32px;
  color: #000F38;
  margin-bottom: 20px;
  text-align: center;
}

.location-description {
  text-align: left;
  margin-bottom: 20px;
}

.location-description p {
  margin: 10px 0;
  font-size: 17px;
  line-height: 1.5;
  color: #444; 
}

.location-description p strong {
  font-size: 19px;
  color: #333;
}

.map-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.map-image {
  height: 400px;
  width: 100%;
  max-width: 650px;
  border-radius: 5px;
  transition: transform 0.3s ease;
  object-fit: cover; 
}

.map-container:hover .map-image {
  transform: scale(1.05);
}

.hover-text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.map-container:hover .hover-text {
  opacity: 1;
}
