.mySwiper{
  height: 60vh;
  margin: 20px;
}

.popular-card-body {
  text-align: center;
  width: 100%;
  color: #000F38;
}

.popular-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.popular-card-location {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #000F38;
  opacity: 0.8;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 2; 
}

.popular-card-image img {
  width: 100%;
  height: 82%;
  object-fit: cover;
  margin-bottom: 5px;
}

.title {
  text-align: center;
  font-size: 16px; 
  font-weight: 600;
  margin: 40px 15px;
}

.title h1 {
  font-size: 36px; 
  color: #000F38;
  margin-top: 10px;
  font-weight: bold; 
}

.title p {
  font-size: 18px;
  color: #333; 
  line-height: 1.6;
  margin-top: 20px;
  max-width: 800px; 
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}
